IOS_UDID=00008030-000174C11439802E
XCODE_ORG_ID=9Z8F9Q282X
XCODE_SIGNING_ID=Apple Development
APP_BUNDLE_ID=net.whatsapp.WhatsAppSMB
WDA_BUNDLE_ID=com.lorenzomilano.WebDriverAgentRunner
EXPORT_ROOT_NAME=Clyo-Chats
